# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://ckshypkyylmzvhjhqrzf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrc2h5cGt5eWxtenZoamhxcnpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3NTE2MzcsImV4cCI6MjA5MDMyNzYzN30.jYPm4An4xEFQUNRile7mCLuw0bGjUGap3Jj2UyLT7GE"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrc2h5cGt5eWxtenZoamhxcnpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDc1MTYzNywiZXhwIjoyMDkwMzI3NjM3fQ.TAODtSiYThwCGJTRMwMMCni2UR1WnAhVPxw-Cu91Q_Q"
SUPABASE_JWT_SECRET="YVPnbTmxsd3/e3kcNeZaYOlk9Zvk2Sc/r5qDx/RmZ4Pxfx1okh0Go35aZ+7TWBV4sFCv/lREMj4CbGY/R29r5Q=="

# Postgres
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="db.ckshypkyylmzvhjhqrzf.supabase.co"
POSTGRES_PASSWORD="x13F5HcbVd6YKKcg"
POSTGRES_PRISMA_URL="postgres://postgres.ckshypkyylmzvhjhqrzf:x13F5HcbVd6YKKcg@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_URL="postgres://postgres.ckshypkyylmzvhjhqrzf:x13F5HcbVd6YKKcg@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_URL_NON_POOLING="postgres://postgres.ckshypkyylmzvhjhqrzf:x13F5HcbVd6YKKcg@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
POSTGRES_USER="postgres"

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=sua-google-maps-key

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=sua-firebase-key
NEXT_PUBLIC_FIREBASE_PROJECT_ID=seu-firebase-project-id
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=seu-sender-id
NEXT_PUBLIC_FIREBASE_APP_ID=seu-app-id
FCM_SERVER_KEY=sua-fcm-server-key

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=seu-mp-token
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=sua-mp-public-key

# Email
RESEND_API_KEY=sua-resend-key

# Tenant
NEXT_PUBLIC_TENANT_ID_APOLLO=496c5a35-6843-4061-b3ab-159d15a0cbc6

# Pix
NEXT_PUBLIC_PIX_KEY=31985375524
NEXT_PUBLIC_PIX_KEY_TYPE=telefone
